/node_modules
/public/css
/public/js
/public/fonts
/public/hot
/public/mix-manifest.json
/public/packages
/public/storage
/public/uploads
/storage/administrator_settings
/storage/debugbar
/storage/*.key
/vendor
.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
